@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
body{
    margin:0;
    padding:0;
    background-color:#fddee3;
     font-family:'Playfair Display',serif ;
        min-height: 100vh;  
        display: flex;
  flex-direction: column;
   
}

main{
    flex-grow: 1;
}
h1{
    text-align: center;
    font-size: 3.5rem;
   
    font-style: italic;
    color:rgb(223, 199, 170)

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
header{
     background-color:#956876 ;
     padding:10px ;
     margin-top: 25px;
}
button{
    width:7.2rem;
    height: 2.2rem;
    background-color: #956876;
    border: 0px transparent;
    font-size: x-large;
    color:rgb(223, 199, 170) ;
    font-weight: bold;
    border-radius: 3px;
    padding:3px
}
button:hover{
 background-color:rgb(65, 41, 13);
}

footer{
  width: 100%;
    background: #ffffffab;
    padding: 20px;
    text-align: center;
    bottom:auto
}

.home-text{
    font-size: xx-large;
    margin-top:30px;
    text-align: center;
    font-style: italic;
    font-weight: bold;

}
.bakeryImg{
    width: 70%;
    height:auto;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
}
.menu-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
    padding:20px;
    margin: 30px;
    font-size: x-large;
}
.menu-card{
    background-color:  #96a49c;
    padding:20px;
    text-align: center;

}
.menu-card>h2{
    color:rgb(72, 0, 0);
    font-style: italic;
}
.menu-card:hover{
    background-color: #ffcca5;
}
.about-head{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    margin: 40px;
    text-align: center;
    color:rgb(72, 0, 0) ;
}
.abt-inf{
    font-size: xx-large;
    margin: 40px;
    text-align: center;
    font-style: italic;
    padding: 35px;
    color:rgb(72, 0, 0);
    background-color: #96a49c ;
    border-radius: 10px;
    
   
}

.abt-contact{
    font-size: x-large;
    gap:50px;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    color: rgb(72, 0, 0);
    font-weight: bolder;
}