body{
    background: linear-gradient(to right,#a9d4ff, #0b4f83);
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    margin:80px;
    margin-bottom: 70px;
    

}

#container{
    background-color: black;
    width:350px;
    height:380px;
    display: flex;
    flex-wrap: wrap;
    margin:auto
}
#display{
    width:300px;
    height: 60px;
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    margin:20px auto;
    border: 1px solid rgb(153, 153, 153);
    font-size: 36px;
    text-align: right;
    padding-top: 16px;
    padding-right:25px;
    color:white;
    font-style: italic;
}
#calc-body button{
    width: 72px;
    height:47px;
}
#restart button{
    width:140px;
    height:47px;
     background-color:red;
     font-weight: bold;
     font-size: larger;
     
}
#restart{
    
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}

#calc-body{
    width:330px;
     display: flex;
    flex-wrap: wrap;
   margin:10px;
    gap:3px;
    justify-content: center;
    align-items: center;
}
#divide,#multi,#sub,#add,#decimal{
    background-color: rgb(95, 95, 95);
    color:white;
    font-size: large;
      box-shadow: gray;
}

#equal{
    background-color: rgb(165, 246, 246);
    font-size: large;
    color: black;
   box-shadow: darkblue;
}
#one,#two,#three,#four,#five,#six,#seven,#eight,#nine{
    font-size: large;
    box-shadow: white;
}

button:hover{
    color:white;
}