#container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width :400px;
   margin:0 auto;
   aspect-ratio: 1/1;
   place-items: center;
   padding-top:20px;
   margin-bottom: 80px;

}
.boardCells{
    border:2px solid rgb(0, 0, 0);
   width:100%;
   height: 100%;
   box-sizing: border-box;
   background-color: rgb(215, 237, 255);
   color: rgb(4, 0, 124);
   font-size: 6.7rem;
font-family: 'Courier New', Courier, monospace;
text-align: center;

}

h1{
    background-color: rgb(3, 20, 202);
    padding : 30px;
    color:whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xxx-large;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

#restartBtn{
    display: block;
    margin: auto;
    
    font-size: x-large;
    padding: 1%;
    background-color: rgb(255, 195, 231);
    color: rgb(146, 0, 117);
   border : 1px solid  rgb(146, 0, 117);
    border-radius: 5px ;
}
body{
    background-color: rgba(240, 255, 255, 0.625);
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 3.0rem;
    color: rgb(77, 77, 77);
    text-align: center;
    padding-top: 100px;
    margin-top: 40px;
    box-sizing: border-box;
   
}